In [2]:
import pandas as pd

In [4]:
myDataFrame = pd.read_csv("./data/eagles.csv", index_col= "Player")
myDataFrame.head()

,Year,Rnd,Pick,Pos,To,AP1,PB,St,wAV,G,...,Att.1,Yds.1,TD.1,Rec,Yds.2,TD.2,Int.1,Sk,College/Univ,-9999
Player,,,,,,,,,,,,,,,,,,,,,
Quinyon Mitchell,2024,1,22,CB,2024.0,0,0,1,0.0,12.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Toledo,MitcQu00
Cooper DeJean,2024,2,40,DB,2024.0,0,0,0,0.0,12.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,0.5,Iowa,DeJeCo00
Jalyx Hunt,2024,3,94,DE,2024.0,0,0,0,0.0,11.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,1.5,Houston Christian,HuntJa02
Will Shipley,2024,4,127,RB,2024.0,0,0,0,0.0,12.0,...,20.0,50.0,0.0,NaN,NaN,0.0,NaN,NaN,Clemson,ShipWi00
Ainias Smith,2024,5,152,WR,2024.0,0,0,0,0.0,5.0,...,1.0,2.0,0.0,3.0,6.0,0.0,NaN,NaN,Texas A&M,SmitAi00

In [6]:
position = myDataFrame ["Pos"]
position

Player
Quinyon Mitchell     CB
Cooper DeJean        DB
Jalyx Hunt           DE
Will Shipley         RB
Ainias Smith         WR
                   ...
Eric Rowe            CB
Jordan Hicks        OLB
JaCorey Shepherd     CB
Randall Evans        CB
Brian Mihalik        DE
Name: Pos, Length: 72, dtype: object

In [8]:
games = myDataFrame ["G"]
games

Player
Quinyon Mitchell     12.0
Cooper DeJean        12.0
Jalyx Hunt           11.0
Will Shipley         12.0
Ainias Smith          5.0
                    ...
Eric Rowe           103.0
Jordan Hicks        130.0
JaCorey Shepherd     11.0
Randall Evans         1.0
Brian Mihalik        20.0
Name: G, Length: 72, dtype: float64

In [10]:
sortedGames = games.sort_values()
sortedGames.head()

Player
Shareef Miller    1.0
Randall Evans     1.0
JaCoby Stevens    2.0
Ainias Smith      5.0
Elijah Qualls     6.0
Name: G, dtype: float64

In [12]:
myDataFrame["G"].max()

148.0

In [14]:
draft_columns = [ 'G', 'Pos', 'Rnd', 'Year', 'Pick']
myDataFrame[draft_columns]

                      G  Pos  Rnd  Year  Pick
Player
Quinyon Mitchell   12.0   CB    1  2024    22
Cooper DeJean      12.0   DB    2  2024    40
Jalyx Hunt         11.0   DE    3  2024    94
Will Shipley       12.0   RB    4  2024   127
Ainias Smith        5.0   WR    5  2024   152
...                 ...  ...  ...   ...   ...
Eric Rowe         103.0   CB    2  2015    47
Jordan Hicks      130.0  OLB    3  2015    84
JaCorey Shepherd   11.0   CB    6  2015   191
Randall Evans       1.0   CB    6  2015   196
Brian Mihalik      20.0   DE    7  2015   237

[72 rows x 5 columns]

In [16]:

average_gamesround = myDataFrame.groupby(['Rnd'])['G'].mean()

# Display the result
print(average_gamesround)

Rnd
1    63.400000
2    62.555556
3    58.333333
4    54.555556
5    38.000000
6    28.285714
7    59.571429
Name: G, dtype: float64

In [20]:

average_gamesposition = myDataFrame.groupby(['Pos'])['G'].mean()

# Display the result
print(average_gamesposition)

Pos
CB     53.125000
DB     23.750000
DE     41.700000
DL     39.333333
DT     24.000000
G      84.000000
ILB    66.000000
LB     28.000000
OL     40.666667
OLB    79.500000
QB     85.000000
RB     53.000000
S      59.000000
T      66.400000
TE     67.000000
WR     51.600000
Name: G, dtype: float64

In [22]:
# Filter for first-round picks
first_round_picks = myDataFrame[myDataFrame['Rnd'] == 1]

# Count the number of first-round picks
num_first_round_picks = len(first_round_picks)

print(f"Number of first-round picks: {num_first_round_picks}")

Number of first-round picks: 10

In [24]:
position_groups = {
    'C': ('Lineman', 'Offense'), 'DE': ('Lineman', 'Defense'), 'DL': ('Lineman', 'Defense'),
    'DT': ('Lineman', 'Defense'), 'FB': ('Lineman', 'Offense'), 'G': ('Lineman', 'Offense'),
    'OL': ('Lineman', 'Offense'), 'T': ('Lineman', 'Offense'),

    'LB': ('Mids', 'Defense'), 'OLB': ('Mids', 'Defense'),'ILB': ('Mids', 'Defense'),
    'P': ('Mids', 'Special Teams'), 'K': ('Mids', 'Special Teams'),'LS': ('Mids', 'Special Teams'),'TE': ('Mids', 'Offense'), 'RB': ('Mids', 'Offense'),

    'CB': ('Skills', 'Defense'), 'DB': ('Skills', 'Defense'),
    'QB': ('Skills', 'Offense'),
    'S': ('Skills', 'Defense'), 'SAF': ('Skills', 'Defense'),
    'WR': ('Skills', 'Offense')
}

In [26]:
position_groups

{'C': ('Lineman', 'Offense'),
 'DE': ('Lineman', 'Defense'),
 'DL': ('Lineman', 'Defense'),
 'DT': ('Lineman', 'Defense'),
 'FB': ('Lineman', 'Offense'),
 'G': ('Lineman', 'Offense'),
 'OL': ('Lineman', 'Offense'),
 'T': ('Lineman', 'Offense'),
 'LB': ('Mids', 'Defense'),
 'OLB': ('Mids', 'Defense'),
 'ILB': ('Mids', 'Defense'),
 'P': ('Mids', 'Special Teams'),
 'K': ('Mids', 'Special Teams'),
 'LS': ('Mids', 'Special Teams'),
 'TE': ('Mids', 'Offense'),
 'RB': ('Mids', 'Offense'),
 'CB': ('Skills', 'Defense'),
 'DB': ('Skills', 'Defense'),
 'QB': ('Skills', 'Offense'),
 'S': ('Skills', 'Defense'),
 'SAF': ('Skills', 'Defense'),
 'WR': ('Skills', 'Offense')}

In [28]:
# Map positions to group and side
myDataFrame['Group'] = myDataFrame['Pos'].map(lambda x: position_groups[x][0])
myDataFrame['Side'] = myDataFrame['Pos'].map(lambda x: position_groups[x][1])

In [30]:
grouped_counts = myDataFrame.groupby(['Group', 'Side']).size()
print(grouped_counts)

Group    Side
Lineman  Defense    16
         Offense    12
Mids     Defense     7
         Offense     7
Skills   Defense    16
         Offense    14
dtype: int64

In [32]:
# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

total_players = len(myDataFrame)

num_above_34 = len(players_above_34)

percentage_above_34 = (num_above_34 / total_players) * 100
print(f"Percentage of players who played more than 34 games: {percentage_above_34:.2f}%")

Percentage of players who played more than 34 games: 52.78%

In [34]:
# Map positions to group categories (Bigs, Mids, Skills)
position_groups = {
    'C': 'Lineman', 'DE': 'Lineman', 'DL': 'Lineman', 'DT': 'Lineman',
    'FB': 'Lineman', 'G': 'Lineman', 'OL': 'Lineman', 'T': 'Lineman',
    'LB': 'Mids', 'OLB': 'Mids', 'P': 'Mids', 'TE': 'Mids',
    'CB': 'Skills', 'DB': 'Skills', 'QB': 'Skills',
    'RB': 'Skills', 'S': 'Skills', 'SAF': 'Skills', 'WR': 'Skills'
}

# Add the 'Group' column to the DataFrame
myDataFrame['Group'] = myDataFrame['Pos'].map(position_groups)

# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

# Group by round and position group to calculate the number of players who played more than 34 games
grouped_above_34 = players_above_34.groupby(['Rnd', 'Group']).size()

# Group by round and position group to get total number of players
total_grouped = myDataFrame.groupby(['Rnd', 'Group']).size()

# Calculate the percentage of players who played more than 34 games by round and group
percentage_above_34 = (grouped_above_34 / total_grouped) * 100
print(percentage_above_34)


above34count = (grouped_above_34)
print(above34count)

Rnd  Group
1    Lineman     75.000000
     Mids              NaN
     Skills      80.000000
2    Lineman    100.000000
     Mids       100.000000
     Skills      83.333333
3    Lineman     50.000000
     Mids        33.333333
     Skills      50.000000
4    Lineman     66.666667
     Skills      42.857143
5    Lineman     50.000000
     Mids              NaN
     Skills      42.857143
6    Lineman     14.285714
     Mids       100.000000
     Skills      28.571429
7    Lineman     50.000000
     Skills     100.000000
dtype: float64
Rnd  Group
1    Lineman    3
     Skills     4
2    Lineman    2
     Mids       1
     Skills     5
3    Lineman    2
     Mids       1
     Skills     1
4    Lineman    2
     Skills     3
5    Lineman    1
     Skills     3
6    Lineman    1
     Mids       2
     Skills     2
7    Lineman    3
     Skills     1
dtype: int64

In [68]:
import pandas as pd

# Read the dataset
myDataFrame = pd.read_csv("./data/colts.csv", index_col="Player")

# Position group mapping based on your original dictionary
position_groups = {
    'C': ('Lineman', 'Offense'), 'DE': ('Lineman', 'Defense'), 'DL': ('Lineman', 'Defense'),
    'DT': ('Lineman', 'Defense'), 'FB': ('Lineman', 'Offense'), 'G': ('Lineman', 'Offense'),
    'OL': ('Lineman', 'Offense'), 'T': ('Lineman', 'Offense'),

    'LB': ('Mids', 'Defense'), 'OLB': ('Mids', 'Defense'), 'ILB': ('Mids', 'Defense'),
    'P': ('Mids', 'Special Teams'), 'K': ('Mids', 'Special Teams'), 'LS': ('Mids', 'Special Teams'), 
    'TE': ('Mids', 'Offense'), 'RB': ('Mids', 'Offense'),

    'CB': ('Skills', 'Defense'), 'DB': ('Skills', 'Defense'),
    'QB': ('Skills', 'Offense'),
    'S': ('Skills', 'Defense'), 'SAF': ('Skills', 'Defense'),
    'WR': ('Skills', 'Offense')
}

# Add Position Group and Side columns
myDataFrame['Position Group'] = myDataFrame['Pos'].map(lambda pos: position_groups.get(pos, ('Unknown', 'Unknown'))[0])
myDataFrame['Side'] = myDataFrame['Pos'].map(lambda pos: position_groups.get(pos, ('Unknown', 'Unknown'))[1])

# Define the threshold for games played
Y = 34

# Filter players who played more than Y games
filtered_df = myDataFrame[myDataFrame['G'] > Y]

# Group by the 'Side' and 'Position Group' columns to count players and sum games
grouped_by_side = filtered_df.groupby('Side').agg(
    total_players=('Pos', 'count'),
    total_games=('G', 'sum')
)

grouped_by_position_group = filtered_df.groupby('Position Group').agg(
    total_players=('Pos', 'count'),
    total_games=('G', 'sum')
)

# Print results
print("Players and Games Played by Side:")
print(grouped_by_side)

print("\nPlayers and Games Played by Position Group:")
print(grouped_by_position_group)

Players and Games Played by Side:
         total_players  total_games
Side
Defense             27       1862.0
Offense             19       1330.0
Unknown              1         36.0

Players and Games Played by Position Group:
                total_players  total_games
Position Group
Lineman                    18       1344.0
Mids                       15       1053.0
Skills                     13        795.0
Unknown                     1         36.0

In [70]:
# Add Position Group and Side columns
myDataFrame['Position Group'] = myDataFrame['Pos'].map(lambda pos: position_groups.get(pos, ('Unknown', 'Unknown'))[0])
myDataFrame['Side'] = myDataFrame['Pos'].map(lambda pos: position_groups.get(pos, ('Unknown', 'Unknown'))[1])

# Group by the 'Side' and 'Position Group' columns to count players and sum games
grouped_by_side = myDataFrame.groupby('Side').agg(
    total_players=('Pos', 'count'),
    total_games=('G', 'sum')
)

grouped_by_position_group = myDataFrame.groupby('Position Group').agg(
    total_players=('Pos', 'count'),
    total_games=('G', 'sum')
)

# Print results
print("Players and Games Played by Side:")
print(grouped_by_side)

print("\nPlayers and Games Played by Position Group:")
print(grouped_by_position_group)

Players and Games Played by Side:
         total_players  total_games
Side
Defense             48       2055.0
Offense             41       1605.0
Unknown              1         36.0

Players and Games Played by Position Group:
                total_players  total_games
Position Group
Lineman                    31       1480.0
Mids                       24       1158.0
Skills                     34       1022.0
Unknown                     1         36.0