In [2]:
import pandas as pd

In [5]:
myDataFrame = pd.read_csv("./data/bears.csv", index_col= "Player")
myDataFrame.head()

,Year,Rnd,Pick,Pos,To,AP1,PB,St,wAV,G,...,Att.1,Yds.1,TD.1,Rec,Yds.2,TD.2,Int.1,Sk,College/Univ,-9999
Player,,,,,,,,,,,,,,,,,,,,,
Caleb Williams,2024,1,1,QB,2024.0,0,0,1,0.0,12.0,...,59.0,378.0,0.0,NaN,NaN,0.0,NaN,NaN,USC,WillCa03
Rome Odunze,2024,1,9,WR,2024.0,0,0,1,0.0,12.0,...,3.0,15.0,0.0,41.0,543.0,1.0,NaN,NaN,Washington,OdunRo00
Kiran Amegadjie,2024,3,75,OL,2024.0,0,0,0,0.0,4.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Yale,AmegKi00
Tory Taylor,2024,4,122,P,2024.0,0,0,0,0.0,12.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Iowa,TaylTo01
Austin Booker,2024,5,144,DL,2024.0,0,0,0,0.0,12.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,1.5,Kansas,BookAu00

In [7]:
position = myDataFrame ["Pos"]
position

Player
Caleb Williams     QB
Rome Odunze        WR
Kiran Amegadjie    OL
Tory Taylor         P
Austin Booker      DL
                   ..
Eddie Goldman      DT
Hroniss Grasu       C
Jeremy Langford    RB
Adrian Amos         S
Tayo Fabuluje       T
Name: Pos, Length: 72, dtype: object

In [9]:
games = myDataFrame ["G"]
games

Player
Caleb Williams      12.0
Rome Odunze         12.0
Kiran Amegadjie      4.0
Tory Taylor         12.0
Austin Booker       12.0
                   ...
Eddie Goldman       93.0
Hroniss Grasu       33.0
Jeremy Langford     29.0
Adrian Amos        143.0
Tayo Fabuluje        4.0
Name: G, Length: 72, dtype: float64

In [11]:
sortedGames = games.sort_values()
sortedGames.head()

Player
Lachavious Simmons    2.0
Travis Bell           2.0
Daniel Braverman      3.0
Dazz Newsome          3.0
Tayo Fabuluje         4.0
Name: G, dtype: float64

In [13]:
myDataFrame["G"].max()

143.0

In [15]:
draft_columns = [ 'G', 'Pos', 'Rnd', 'Year', 'Pick']
myDataFrame[draft_columns]

                     G Pos  Rnd  Year  Pick
Player
Caleb Williams    12.0  QB    1  2024     1
Rome Odunze       12.0  WR    1  2024     9
Kiran Amegadjie    4.0  OL    3  2024    75
Tory Taylor       12.0   P    4  2024   122
Austin Booker     12.0  DL    5  2024   144
...                ...  ..  ...   ...   ...
Eddie Goldman     93.0  DT    2  2015    39
Hroniss Grasu     33.0   C    3  2015    71
Jeremy Langford   29.0  RB    4  2015   106
Adrian Amos      143.0   S    5  2015   142
Tayo Fabuluje      4.0   T    6  2015   183

[72 rows x 5 columns]

In [17]:

average_gamesround = myDataFrame.groupby(['Rnd'])['G'].mean()

# Display the result
print(average_gamesround)

Rnd
1    55.750000
2    61.250000
3    47.333333
4    49.000000
5    55.750000
6    30.300000
7    20.500000
Name: G, dtype: float64

In [19]:

average_gamesposition = myDataFrame.groupby(['Pos'])['G'].mean()

# Display the result
print(average_gamesposition)

Pos
C       61.500000
CB      40.000000
DB      21.000000
DE      37.000000
DL      23.200000
DT     101.333333
G       67.500000
ILB     97.500000
LB      43.000000
OL      24.500000
OLB    133.000000
P       27.000000
QB      45.666667
RB      42.375000
S       89.500000
T        7.500000
TE      67.000000
WR      26.500000
Name: G, dtype: float64

In [23]:
# Filter for first-round picks
first_round_picks = myDataFrame[myDataFrame['Rnd'] == 1]

# Count the number of first-round picks
num_first_round_picks = len(first_round_picks)

print(f"Number of first-round picks: {num_first_round_picks}")

Number of first-round picks: 8

In [25]:
position_groups = {
    'C': ('Lineman', 'Offense'), 'DE': ('Lineman', 'Defense'), 'DL': ('Lineman', 'Defense'),
    'DT': ('Lineman', 'Defense'), 'FB': ('Lineman', 'Offense'), 'G': ('Lineman', 'Offense'),
    'OL': ('Lineman', 'Offense'), 'T': ('Lineman', 'Offense'),

    'LB': ('Mids', 'Defense'), 'OLB': ('Mids', 'Defense'),'ILB': ('Mids', 'Defense'),
    'P': ('Mids', 'Special Teams'), 'K': ('Mids', 'Special Teams'),'LS': ('Mids', 'Special Teams'),'TE': ('Mids', 'Offense'), 'RB': ('Mids', 'Offense'),

    'CB': ('Skills', 'Defense'), 'DB': ('Skills', 'Defense'),
    'QB': ('Skills', 'Offense'),
    'S': ('Skills', 'Defense'), 'SAF': ('Skills', 'Defense'),
    'WR': ('Skills', 'Offense')
}

In [27]:
position_groups

{'C': ('Lineman', 'Offense'),
 'DE': ('Lineman', 'Defense'),
 'DL': ('Lineman', 'Defense'),
 'DT': ('Lineman', 'Defense'),
 'FB': ('Lineman', 'Offense'),
 'G': ('Lineman', 'Offense'),
 'OL': ('Lineman', 'Offense'),
 'T': ('Lineman', 'Offense'),
 'LB': ('Mids', 'Defense'),
 'OLB': ('Mids', 'Defense'),
 'ILB': ('Mids', 'Defense'),
 'P': ('Mids', 'Special Teams'),
 'K': ('Mids', 'Special Teams'),
 'LS': ('Mids', 'Special Teams'),
 'TE': ('Mids', 'Offense'),
 'RB': ('Mids', 'Offense'),
 'CB': ('Skills', 'Defense'),
 'DB': ('Skills', 'Defense'),
 'QB': ('Skills', 'Offense'),
 'S': ('Skills', 'Defense'),
 'SAF': ('Skills', 'Defense'),
 'WR': ('Skills', 'Offense')}

In [29]:
# Map positions to group and side
myDataFrame['Group'] = myDataFrame['Pos'].map(lambda x: position_groups[x][0])
myDataFrame['Side'] = myDataFrame['Pos'].map(lambda x: position_groups[x][1])

In [31]:
grouped_counts = myDataFrame.groupby(['Group', 'Side']).size()
print(grouped_counts)

Group    Side
Lineman  Defense          11
         Offense          15
Mids     Defense           5
         Offense          10
         Special Teams     2
Skills   Defense          16
         Offense          13
dtype: int64

In [33]:
# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

total_players = len(myDataFrame)

num_above_34 = len(players_above_34)

percentage_above_34 = (num_above_34 / total_players) * 100
print(f"Percentage of players who played more than 34 games: {percentage_above_34:.2f}%")

Percentage of players who played more than 34 games: 48.61%

In [35]:
# Map positions to group categories (Bigs, Mids, Skills)
position_groups = {
    'C': 'Lineman', 'DE': 'Lineman', 'DL': 'Lineman', 'DT': 'Lineman',
    'FB': 'Lineman', 'G': 'Lineman', 'OL': 'Lineman', 'T': 'Lineman',
    'LB': 'Mids', 'OLB': 'Mids', 'P': 'Mids', 'TE': 'Mids',
    'CB': 'Skills', 'DB': 'Skills', 'QB': 'Skills',
    'RB': 'Skills', 'S': 'Skills', 'SAF': 'Skills', 'WR': 'Skills'
}

# Add the 'Group' column to the DataFrame
myDataFrame['Group'] = myDataFrame['Pos'].map(position_groups)

# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

# Group by round and position group to calculate the number of players who played more than 34 games
grouped_above_34 = players_above_34.groupby(['Rnd', 'Group']).size()

# Group by round and position group to get total number of players
total_grouped = myDataFrame.groupby(['Rnd', 'Group']).size()

# Calculate the percentage of players who played more than 34 games by round and group
percentage_above_34 = (grouped_above_34 / total_grouped) * 100
print(percentage_above_34)


above34count = (grouped_above_34)
print(above34count)

Rnd  Group
1    Lineman           NaN
     Mids       100.000000
     Skills      40.000000
2    Lineman     80.000000
     Mids       100.000000
     Skills      80.000000
3    Lineman     25.000000
     Skills      50.000000
4    Mids        50.000000
     Skills      37.500000
5    Lineman     57.142857
     Mids              NaN
     Skills      80.000000
6    Lineman           NaN
     Skills      50.000000
7    Lineman     20.000000
     Mids       100.000000
     Skills      16.666667
dtype: float64
Rnd  Group
1    Mids       1
     Skills     2
2    Lineman    4
     Mids       2
     Skills     4
3    Lineman    1
     Skills     1
4    Mids       1
     Skills     3
5    Lineman    4
     Skills     4
6    Skills     3
7    Lineman    1
     Mids       1
     Skills     1
dtype: int64

In [39]:
import pandas as pd

# Read the dataset
myDataFrame = pd.read_csv("./data/bears.csv", index_col="Player")

# Position group mapping based on your original dictionary
position_groups = {
    'C': ('Lineman', 'Offense'), 'DE': ('Lineman', 'Defense'), 'DL': ('Lineman', 'Defense'),
    'DT': ('Lineman', 'Defense'), 'FB': ('Lineman', 'Offense'), 'G': ('Lineman', 'Offense'),
    'OL': ('Lineman', 'Offense'), 'T': ('Lineman', 'Offense'),

    'LB': ('Mids', 'Defense'), 'OLB': ('Mids', 'Defense'), 'ILB': ('Mids', 'Defense'),
    'P': ('Mids', 'Special Teams'), 'K': ('Mids', 'Special Teams'), 'LS': ('Mids', 'Special Teams'), 
    'TE': ('Mids', 'Offense'), 'RB': ('Mids', 'Offense'),

    'CB': ('Skills', 'Defense'), 'DB': ('Skills', 'Defense'),
    'QB': ('Skills', 'Offense'),
    'S': ('Skills', 'Defense'), 'SAF': ('Skills', 'Defense'),
    'WR': ('Skills', 'Offense')
}

# Add Position Group and Side columns
myDataFrame['Position Group'] = myDataFrame['Pos'].map(lambda pos: position_groups.get(pos, ('Unknown', 'Unknown'))[0])
myDataFrame['Side'] = myDataFrame['Pos'].map(lambda pos: position_groups.get(pos, ('Unknown', 'Unknown'))[1])

# Define the threshold for games played
Y = 34

# Filter players who played more than Y games
filtered_df = myDataFrame[myDataFrame['G'] > Y]

# Group by the 'Side' and 'Position Group' columns to count players and sum games
grouped_by_side = filtered_df.groupby('Side').agg(
    total_players=('Pos', 'count'),
    total_games=('G', 'sum')
)

grouped_by_position_group = filtered_df.groupby('Position Group').agg(
    total_players=('Pos', 'count'),
    total_games=('G', 'sum')
)

# Print results
print("Players and Games Played by Side:")
print(grouped_by_side)

print("\nPlayers and Games Played by Position Group:")
print(grouped_by_position_group)

Players and Games Played by Side:
               total_players  total_games
Side
Defense                   19       1555.0
Offense                   15        988.0
Special Teams              1         42.0

Players and Games Played by Position Group:
                total_players  total_games
Position Group
Lineman                    10        753.0
Mids                       11        830.0
Skills                     14       1002.0

In [41]:
# Add Position Group and Side columns
myDataFrame['Position Group'] = myDataFrame['Pos'].map(lambda pos: position_groups.get(pos, ('Unknown', 'Unknown'))[0])
myDataFrame['Side'] = myDataFrame['Pos'].map(lambda pos: position_groups.get(pos, ('Unknown', 'Unknown'))[1])

# Group by the 'Side' and 'Position Group' columns to count players and sum games
grouped_by_side = myDataFrame.groupby('Side').agg(
    total_players=('Pos', 'count'),
    total_games=('G', 'sum')
)

grouped_by_position_group = myDataFrame.groupby('Position Group').agg(
    total_players=('Pos', 'count'),
    total_games=('G', 'sum')
)

# Print results
print("Players and Games Played by Side:")
print(grouped_by_side)

print("\nPlayers and Games Played by Position Group:")
print(grouped_by_position_group)

Players and Games Played by Side:
               total_players  total_games
Side
Defense                   32       1783.0
Offense                   38       1344.0
Special Teams              2         54.0

Players and Games Played by Position Group:
                total_players  total_games
Position Group
Lineman                    26       1000.0
Mids                       17        941.0
Skills                     29       1240.0